<br>
<div class="container">
    <div class="row">

        <button class="button button-outline" (click)="start(true)">Join Room</button>

        <div class="row">
            <div class="col-sm-8"><video id="remoteVideo" autoplay style="width:60%;"></video></div>
            <!--Remote Session #2-->
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <!--Remote Session #3-->
            <div class="col-sm"></div>
            <!--Remote Session #4-->
            <div class="col-sm"></div>
            <div class="col-sm"><video id="localVideo" autoplay muted style="width:80%;"></video></div>
        </div>

    </div>
</div>

<!--<app-chat-threads></app-chat-threads>-->
<!--<app-chat-window></app-chat-window>-->
