<div class="container-fluid body">
    <div class="row">
        <div class="col">
            <div class="signIn-card">
                <div class="login-container">
                    <br>
                    <h1>Register Your CallSign</h1>
                    <br>
                    <form>
                        <input type="text"
                               placeholder="Enter your CallSign"><br>
                        <button type="submit" class="button">Start Call</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
