<div class="container-fluid background">
    <div class="row">
        <div class="col-lg-12">
            <!--<form class="signin-block">-->
            <!--<div class="form-group">-->
            <!--<div class="form-description">-->
            <!--<h1>Get Started</h1>-->
            <!--<p>Enter your CallSign</p>-->
            <!--</div>-->
            <!--<div>-->
            <!--<input type="text" placeholder="Enter Callsign" class="callsign-field">-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->

            <form class="signin-block">
                <div class="form-group">
                    <h1>Get Started</h1>
                    <input type="email" class="form-control callsign-field"
                           placeholder="Enter your CallSign"></div>
                <button type="submit" class="start-call">Start Call</button>
            </form>
        </div>
    </div>
</div>
