.body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #B94AB7, #E77097);
    overflow: hidden;
}

.signIn-card {
    position: relative;
    display: flex;
    margin-left: 30%;
    flex-direction: column;
    width: 40vw;
    min-height: 40vh;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
}

.signIn-card * {
    z-index: 1;
}

.signIn-card:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 175%;
    border-radius: 50%;
    transform: translate(-50%, -25%);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
    background: #F6F7FC;
}

.signIn-card .login-container {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

.signIn-card .login-container label {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #E1E1EA;
}

.signIn-card .login-container input {
    width: 100%;
    margin-bottom: 10px;
    height: 20px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #A3AABA;
}

.signIn-card .login-container button {
    width: 200px;
    height: 45px;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
