<div class="container-fluid home-body">
    <div class="row">
        <div class="col-sm-2 home-page-card">
        </div>
        <div class="col-sm-4 home-page-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Decentralized Video Chat</h5>
                    <p class="card-text">Securely communicate on the blockchain.</p>
                    <a routerLink="signin" class="nav-link" class="button">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 home-page-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Built with DNSP</h5>
                    <p class="card-text">DNSP is open source Decentralized Session Negotiation Protocol.</p>
                    <a href="https://github.com/Patrickdlg/bDsnp" target="_blank" class="button button-outline">Learn
                        More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 home-page-card">
        </div>
    </div>
</div>
