h1, h2, h3, h4, h5 {
    font-family: 'Press Start 2P', cursive;
}

.home-body {
    background-image: url(../../assets/images/plexus-background.png);
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    height: 100vh;
}
